$otherFuncClr: #008b8b;
$numberClr:    #5a5a5a;
$operatorClr:  #ff7f50;
$bgClr:        #9f9f9f;
$calcClr:      #000;
$dispBgClr:    #006144;
$txtClr:       #fff;

body {
  padding: 0;
  margin: 0;
  background: $bgClr;
}

.container {
  margin: auto;
  margin-top: 80px;
  padding: 10px;
  width: fit-content;
  height: fit-content;
  background: $calcClr;
  border-radius: 5px;

  #display {
    max-width: 285px;
    min-height: 48px;
    padding: 15px 10px;
    color: $txtClr;
    font-family: monospace;
    font-size: 40px;
    text-align: end;
    word-wrap: break-word;
    border-radius: 5px;
    background: $dispBgClr;
  }

  .btns {
    margin: 10px auto 0;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: $txtClr;
    text-align: center;
    display: grid;
    align-items: stretch;
    grid-template-columns: 72.5px 72.5px 72.5px 72.5px;
    grid-template-rows: auto;
    column-gap: 5px;
    row-gap: 5px;
    cursor: pointer;

    .btn {
      background: $numberClr;
      border-radius: 5px;
      padding: 22px 0;

      &:hover {
        filter: brightness(120%);
      }
    }

    .zero {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    .operator,
    #equal {
      background: $operatorClr;
    }

    .otherFunc {
      background: $otherFuncClr;
    }
  }
}